.footer {
    margin: 0;
    padding: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000000eb;
    color: #fffffff3;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}