<div class="navbar" [style.backgroundColor]="backgroundColor">

  <a [routerLink]="['/']">
    <img src="assets/img/LOGO.png" alt="logo">
  </a>
    



  <div class="user-info" *ngIf="currentUser">
    {{currentUser.username}}
  </div>

  <div class="actions">
    <!-- If no user, show "Log in" button -->
    <button *ngIf="!currentUser" class="button" (click)="goLogin()">Log in</button>

    <!-- If user is logged in, show "Log out" button -->
    <button *ngIf="currentUser" class="button" (click)="onLogout()">Log out</button>
  </div>
</div>