.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

img{
    width: 150px;
    height: auto;
    margin-left: 50px;
    margin-top: 10px;

}

button{
    width: 70px;
    height: 30px;
    background-color: #ff0000;
    border: #ff0000 1px solid;
    border-radius: 5px;
    font: 16px;
    color: white;
    margin-left:auto;
    cursor: pointer;
}

.login-button{
    margin-left: auto;
    margin-right: 50px;
}
