<app-navbar></app-navbar>

<div class="home-container">

    <div class="content-wrapper">
        <div class="first-page">
            <h1>Unlimited movies, TV shows, and more.</h1>
            <p> Stating at $6.99. Cancel anytime.</p>
            <div class="input-container">
                <input type="text" placeholder="Email Address" class="input-text" [(ngModel)]="email">
                <button class="input-button" (click)="goRegister()" >Get Started</button>
            </div>
        </div>
    </div>
    
</div>

<div class="introduction-page"> 
    <div class="second-page"> 
        <div class="text-container">
            <h1>Enjoy on your TV.</h1> 
            <p>Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.</p>   
        </div>
        <div class="img-container">
            <img src="assets/img/Enjoy.webp" alt="TV-template">
        </div>
        
    </div>

</div>

<div class="introduction-page">
    <div class="second-page"> 
        <div class="img-container">
            <app-download></app-download>
        </div>
        <div class="text-container">
            <h1>Enjoy on your TV.</h1> 
            <p>Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.</p>   
        </div>

    </div>
</div>

<app-footer></app-footer>