.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 60vh;
    overflow: hideen;
    margin-top: 300px;
    gap: 20px;

    h1,h2,p{
        align-items: flex-start;
    }

    mat-form-field{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    button{
        color: rgb(255, 255, 255);
        width: 100%;
        background-color: red;
    }
}