<div class="container">
    <p>STEP 1 OF 3</p>
    <h1>Create your password to start your membership</h1>
    <p>Just a few more steps and you are done!</p>
    <p>We hate paperworks too!</p>

    <form (ngSubmit)="onSubmit()" #formRef="ngForm">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput 
               type="email" 
               name="email" 
               [(ngModel)]="email" 
               required 
               email
               #emailInput="ngModel">

            <mat-error *ngIf="emailInput.touched && emailInput.errors?.['required']">
                Email is required
            </mat-error>

            <mat-error *ngIf="emailInput.touched && emailInput.errors?.['email']">
            Please enter a valid email address
            </mat-error>

        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="text" name="password" ngModel required>
            <mat-error>Password is required</mat-error> 
            <mat-hint>Please provide correct password</mat-hint>
        </mat-form-field>

        <button mat-raised-button color="warn" type="submit">Next</button>
    </form>
</div>