@use '@angular/material' as mat;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.trailer-dialog {
  .mat-mdc-dialog-container {
    padding: 0;
  }
  
  .mat-mdc-dialog-surface {
    background: black;
    overflow: hidden;
  }
}


